
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Cinzel&family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Montserrat:ital,wght@0,300;1,100&display=swap');

.countdown{
    background: #fff;
    padding: 30px 20px ;
    font-family: 'Montserrat';
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-item{
    margin: 0px 2px;
   color: #A59776;
}

.countdown-number{
    font-size: 1.7rem;
   
}

.countdown-label{
    font-size: 1rem;
}