.cajaFiesta {
    padding: 20px 15px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .imgFiesta {
    width: 10vh;
    height: 10vh;
  }
  
  .imgFiesta img {
    width: 100%;
  }
  .infoFiesta {
    text-align: center;
  }
  
  .infoFiesta h2 {
    font-family: Beyond Infinity;
    font-size: 2.8rem;
    color: #fff;
    font-weight: lighter;
  }
  
  .infoFiesta p {
    margin: 6px 0px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
  }
  
  .infoFiesta button {
    margin-top: 8px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1rem;
    background: #fff;
    border: none;
    border-radius: 9px;
    padding: 5px;
    height: 30px;
    min-width: 50%;
  }
  .infoFiesta button a {
    text-decoration: none;
    color: #977b66;
}