@font-face {
  font-family: Beyond Infinity;
  src: url(../../public/Beyond\ Infinity\ -\ Demo.ttf);
}
.cajaCeremonias{
    background-color: #977b66;
}

.cajaIglesia {
  padding: 20px 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imgIglesia {
  width: 16vh;
  height: 9vh;
}

.imgIglesia img {
  width: 100%;
}
.infoIglesia {
  text-align: center;
}

.infoIglesia h2 {
  font-family: Beyond Infinity;
  font-size: 2.8rem;
  color: #fff;
  font-weight: lighter;
}

.infoIglesia p {
  margin: 6px 0px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

.infoIglesia button {
  margin-top: 8px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  
  background: #fff;
  border: none;
  border-radius: 9px;
  padding: 5px;
  height: 30px;
  min-width: 50%;
}
.infoIglesia button a {
    text-decoration: none;
    color: #977b66;
}

.cajaCorazon{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    filter: brightness(0) invert(1);
}

.cajaHojas img{
   object-fit: contain;
}