@font-face {
  font-family: Beyond Infinity;
  src: url(/public/Beyond\ Infinity\ -\ Demo.ttf);
}

.box {
  background-color: #fff;
  padding-bottom: 12px;
}
.asistencia {
  padding: 46px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  color: #977b66;
}
.asistencia button {
  margin-top: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  background: #977b66;
  border: none;
  border-radius: 20px;
  padding: 5px;
  height: 25px;
  min-width: 50%;
}
.asistencia button a {
  text-decoration: none;
  color: #fff;
}

.cajaRegalo {
    padding: 10px 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .imgRegalo {
    width: 14vh;
    height: 12vh;
  }
  
  .imgRegalo img {
    width: 100%;
    filter: invert(1.5);
  }
  .infoRegalo {
    text-align: center;
  }

  
  .infoRegalo p {
    margin: 6px 0px;
    font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
    color: #977b66;
  }
  
  .infoRegalo button {
    margin-top: 8px;
    font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
    color: #fff;
    background: #977b66;
    border: none;
    border-radius: 10px;
    padding: 5px;
    height: 25px;
    width: 75%;
  }
  .infoRegalo button a {
    text-decoration: none;
    color: #fff;
}

.formaCurva{
  text-align: center;
  padding: 25px 50px;
  background-color: #977b66;
}

.formaCurva p{
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
    color:#fff;
}


.cajaMusica {
  padding: 10px 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imgMusica {
  width: 14vh;
  height: 12vh;
}

.imgMusica img {
  width: 100%;
}
.infoMusica {
  text-align: center;
}

.infoMusica h5 {
  margin: 6px 0px;
  font-family: 'Montserrat';
font-weight: 600;
font-size: 1.4rem;
  color: #977b66;
}

.infoMusica p {
  margin: 6px 0px;
  font-family: "Montserrat";
font-weight: 600;
font-size: 1rem;
  color: #977b66;
}

.infoMusica button {
  margin-top: 8px;
  font-family: "Montserrat";
font-weight: 600;
font-size: 1rem;
  color: #fff;
  background: #977b66;
  border: none;
  border-radius: 10px;
  padding: 5px;
  height: 25px;
  width: 60%;
}

.infoMusica a{
  text-decoration: none;
    color: #fff;
}

.dressCode{
  text-align: center;
  padding: 15px 10px;
  background-color: #977b66;
}

.dressCode h5{
  font-family: Beyond Infinity;
  font-size: 3.8rem;
  font-weight: 200;
  color:#fff ;
}

.dressCode p{
  font-family: 'Montserrat';
  font-size: 1.4rem;
  font-weight: 600;
  color:#fff ;
}


.footer{
  background-color: #977b66;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 0.8rem;
}

.footer p{
  padding: 0px;
  margin: 0px;
  letter-spacing: 1.5px;
  margin-right: 2px;
}